<li [ngClass]="{'list-group-item': true,
               'list-group-item-success': post.loveIts > 0,
               'list-group-item-danger': post.loveIts < 0}">
    <div><span class="pull-right"><h4>{{ post.createdAt | date: 'short'}}</h4></span><h2>{{ post.title }}</h2>
    </div>{{ post.content }}<div>
      <button class="btn btn-success" (click)="onLoveIt(post)">Love it !</button>
      <button class="btn btn-danger" style="margin-left: 5px" (click)="onDontLoveIt(post)">Don't love it !</button>
      <button class="btn btn-danger pull-right" (click)="onDeletePost(post)">Supprimer Post</button>
    </div>
</li>
